.Contact {
  width: 100%;
  position: relative;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-box {
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 11px 20px 0px #01011b;
  padding: 2vh 2vw;
  border: 1px solid #01011b;
}
.box-social-link {
  margin-top: 2vh;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-social-form {
  width: 50px;
  object-fit: cover;
  transition: all 0.5s ease-in;
}
footer {
  width: 100%;
  height: 10vh;
  background-color: #01011b;
}
.Contact .title-section {
  font-size: 2rem;
  font-family: "Dela Gothic One", cursive;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.logo-social-form:hover {
  transform: scale(1.2);
}
.buttonEmail{
  z-index: 10;
  background-color: transparent;
  border: none;

}
@media screen and (max-width: 510px) {
  .contact-box {
    width: 80%;
  }
  .title-section {
    text-align: center;
    font-size: 1.2rem !important;
  }
  .box-social-link {
    flex-direction: column;
  }
  .box-social-link a,
  .box-social-link p {
    margin-top: 20px;
  }
}
